.header {
  background-color: bisque;
  padding: 1vw;
}
h1 {
  text-align: center;
  color: coral;
}
body {
  background-color: azure;
}
h3 {
  color: rgb(121, 38, 8);
}
.footer {
  background-color: bisque;
  text-align: center;
  padding: 1vw;
}
