.header {
  background-color: bisque;
  padding: 1vw;
}
h1 {
  text-align: center;
  color: coral;
}
.footer {
  background-color: bisque;
  text-align: center;
  padding: 1vw;
}
body {
        background-color: azure;
}
